# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
mongo.list_database_names()

['admin',
 'autosaurus',
 'classDB',
 'config',
 'epa',
 'fruits',
 'local',
 'met',
 'travel_db',
 'uk_food']

In [5]:
# assign the collection to a variable
est = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query =  {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
print(f' the number of establishments that have hygiene scores of 20 are: {est.count_documents(query)}')

# Push all results into a new variable
all_results = est.find(query)

# Display the first document in the results using pprint
single_result = est.find_one(query)
pprint(single_result)

est.count_documents({})

 the number of establishments that have hygiene scores of 20 are: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6557dd7e57e1c558204420e0'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

38786

In [7]:
# Importing Panda dependency
import pandas as pd

# Convert the result to a Pandas DataFrame
df = pd.json_normalize(all_results)

# # Display the number of rows in the DataFrame
df.count()

# # Display the first 10 rows of the DataFrame
df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6557dd7e57e1c558204420e0,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6557dd7e57e1c5582044245f,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6557dd7e57e1c55820442768,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6557dd7e57e1c55820442957,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6557dd7e57e1c55820442967,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6557dd7e57e1c55820443305,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6557dd7e57e1c55820443526,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6557dd7f57e1c55820444a51,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6557dd7f57e1c55820444e99,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6557dd7f57e1c558204456a7,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"AddressLine3": "London", "RatingValue" : {"$gte": 4}}

# Use count_documents to display the number of documents in the result
print(f' there are {est.count_documents(query)} documents that match the query')

# Display the first document in the results using pprint
pprint(est.find_one(query))

# Storing all of the matching documents inside a variable
londonresults = est.find(query)

 there are 1004 documents that match the query
{'AddressLine1': '75 Woolwich Road',
 'AddressLine2': 'Abbey Wood',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'BusinessName': 'The Croft Day Nursery',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4645.185333904148,
 'FHRSID': 329113,
 'LocalAuthorityBusinessID': '03260/0075/0/000',
 'LocalAuthorityCode': '503',
 'LocalAuthorityEmailAddress': 'food.safety@bexley.gov.uk',
 'LocalAuthorityName': 'Bexley',
 'LocalAuthorityWebSite': 'http://www.bexley.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE2 0DY',
 'RatingDate': '2019-09-02T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6557dd8057e1c558204470b7'),
 'geocode': {'latitude': 51.482981, 'longitude': 0.136519},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/329113',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}

In [9]:
# Convert the result to a Pandas DataFrame
london_4 = pd.json_normalize(londonresults)

# Display the number of rows in the DataFrame
london_4.count()

# Display the first 10 rows of the DataFrame
london_4.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6557dd8057e1c558204470b7,329113,0,03260/0075/0/000,The Croft Day Nursery,Caring Premises,5,75 Woolwich Road,Abbey Wood,London,...,0.136519,51.482981,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6557dd8057e1c558204470b8,329114,0,03260/2001/2/000,Belvedere Sports & Social Club,Pub/bar/nightclub,7843,101A Woolwich Road,Abbey Wood,London,...,0.136518,51.482981,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6557dd8057e1c55820447217,1402880,0,21/00281/CP,Independent Catering Management At Dulverton P...,School/college/university,7845,Dulverton School,Dulverton Road,London,...,0.080990,51.435490,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6557dd8057e1c558204472bf,975472,0,17/00162/CP,Abbey Good Coffee,Restaurant/Cafe/Canteen,1,Lesnes Abbey Lodge,New Road,London,...,0.120352,51.479427,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6557dd8057e1c558204472c0,1262185,0,20/00155/CP,Chestnuts Kiosk Limited,Restaurant/Cafe/Canteen,1,Lesnes Abbey Lodge,New Road,London,...,0.120352,51.479427,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6557dd8057e1c5582044742d,687040,0,03190/0014/0/000,Brownes Chemist,Retailers - other,4613,14-16 Wilton Road,Abbey Wood,London,...,0.121521,51.490340,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6557dd8057e1c5582044743d,610394,0,03190/0008/0/000,A W Foodhall,Retailers - other,4613,8 Wilton Road,Abbey Wood,London,...,0.121087,51.490312,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6557dd8057e1c55820447499,1109051,0,19/00026/CP,BP Thamesmead Service Station,Retailers - other,4613,Service Station,Harrow Manorway,London,...,0.121431,51.493362,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6557dd8057e1c558204474be,1385124,0,14474,Alexander McLeod Primary School,School/college/university,7845,Fuchsia Street,,London,...,0.113690,51.486450,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6557dd8057e1c5582044755e,1256695,0,20/00134/CP,Lakeside Nursery,Caring Premises,5,Lakeside Complex,2 Bazalgette Way,London,...,0.124091,51.501067,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [23]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =est.find_one({"BusinessName":"Penang Flavours"})["geocode"]["latitude"]
longitude = est.find_one({"BusinessName":"Penang Flavours"})["geocode"]["longitude"]

query = {'RatingValue' : {"$eq" :5},'geocode.latitude' : 
                                        {'$lte': (latitude+degree_search), '$gte': (latitude-degree_search)},
                                    'geocode.longitude': 
                                        {'$lte': (longitude+degree_search), '$gte': (longitude-degree_search)}}
sort = [("scores.Hygiene",-1)]

limit= 5

query_results = list(est.find(query).sort(sort).limit(limit))

# Print the results
pprint(query_results)

[{'AddressLine1': '101 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Lucky Food & Wine',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.024793263386,
  'FHRSID': 695287,
  'LocalAuthorityBusinessID': 'PI/000182135',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SB',
  'RatingDate': '2022-06-25T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6557dd8057e1c558204479df'),
  'geocode': {'latitude': 51.4878934, 'longitude': 0.0910104},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695287',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}},
 {'AddressLine1': '104 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Everest Stores Ltd',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.041728368117,
  'FHRSID': 695033,
  'LocalAuthorityBusinessID': 'PI/000172986',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SJ',
  'RatingDate': '2021-09-13T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6557dd8057e1c558204479ff'),
  'geocode': {'latitude': 51.4876718, 'longitude': 0.0903232},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695033',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}},
 {'AddressLine1': '102 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Premier Express',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.038806595731,
  'FHRSID': 695566,
  'LocalAuthorityBusinessID': 'PI/000188497',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SJ',
  'RatingDate': '2021-06-10T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6557dd8057e1c558204479f7'),
  'geocode': {'latitude': 51.4877234, 'longitude': 0.0904552},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695566',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 5, 'Structural': 0}},
 {'AddressLine1': '112 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Fineway Cash & Carry',
  'BusinessType': 'Retailers - other',
  'BusinessTypeID': 4613,
  'ChangesByServerID': 0,
  'Distance': 4647.016995291011,
  'FHRSID': 694606,
  'LocalAuthorityBusinessID': 'PI/000116584',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SJ',
  'RatingDate': '2020-10-20T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6557dd8057e1c558204479c8'),
  'geocode': {'latitude': 51.4876089, 'longitude': 0.0909382},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694606',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}},
 {'AddressLine1': '152 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'TIWA N TIWA African Restaurant Ltd',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4646.930146257832,
  'FHRSID': 1069652,
  'LocalAuthorityBusinessID': 'PI/000206841',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2020-10-24T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6557dd8057e1c558204478e8'),
  'geocode': {'latitude': 51.4870351, 'longitude': 0.0927429},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1069652',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}]

In [24]:
# Iterate over the cursor and store the documents in a list
documents = []
for doc in list(res):
    documents.append(doc)
    
# Convert the list of documents to a Pandas DataFrame
geocoded_df = pd.DataFrame(documents)
geocoded_df.head()

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [27]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest


# sorting by hygiene, using $match operator due to multiple conditions to be applied
query_1 = {"$match": {'scores.Hygiene': {"$eq":0}}}


# When querying with $group, we must follow up with _id, as it is present by default in all mongoDB's,
# since we are grouping, we create a new field 'count' that counts each document using $sum operator,
# with a value of +1, per document
group_2 = {'$group': {'_id': '$LocalAuthorityName','count': {'$sum': 1}}}

# Proceeding to sort by the count of each grouped LocalAuthorityName
sort = {'$sort': {'count': -1}}

# Creating a pipeline
pipeline = [query_1,group_2,sort]

hygiene = list(est.aggregate(pipeline))

# Print the number of documents in the result
count = list(hygiene)
print(len(count))

# Print the first 10 results
pprint(hygiene[0:10])

55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [28]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.DataFrame(hygiene)

# Display the number of rows in the DataFrame
hygiene_df.count()

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542